
<a href="/uvod/"><img src="/media/img/www/lista.png" /></a>

<div class="top-menu">
  <div>
    <a class="" href="/uvod/">Úvod</a>
  </div>
  <div>
    <a class="" href="/novinky/">Novinky</a>
  </div>
  <div>
    <a class="" href="/produkty/">Produkty</a>
  </div>
  <div>
    <a class="" href="/fotogalerie/">Fotogalerie</a>
  </div>
  <div>
    <a class="" href="/reference/">Reference</a>
  </div>
  <div>
    <a class="" href="/literarni-stavarna/">Literární<br/>šťavárna</a>
  </div>
  <div>
    <a class="" href="/art/">Art</a>
  </div>
  <div>
    <a class="" href="/deco/">Deco</a>
  </div>
  <div>
    <a class="" href="/chat/">Chat</a>
  </div>
  <div>
    <a class="" href="/kontakt/">Kontakt</a>
  </div>
</div>
<hr>
<div>
  <%= yield %>
</div>
